.Dashboard {
    display: flex;
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    padding-left: 29px;
    padding-right: 33px;
}

/* -----------------  Table start here -----------------------*/

table {
    margin-top: 40px;
    width: 100%;
}

thead {
    width: 100%;
}

tbody td {
    color: rgba(0, 0, 0, 0.85);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.songNameContainer {
    display: flex;
    align-items: center;
    gap: 17.67px;
}

td img {
    width: 70px;
    height: 70px;
}
