* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;

}

.loginPageContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    width: 410px;
    height: 238px;
}

.login div {
    margin-top: 10px;
    margin-bottom: 25px;
}

.login h3 {
    color: #552583;
    text-align: start;
    font-size: 38px;
    font-weight: 500;
}

.login p {
    color: #101920;
    font-size: .75rem;
    font-weight: 400;
    height: 49px;
}

.login input {
    width: 100%;
    height: 59px;
    border-radius: 2px;
    border: 1px solid #E4E8F0;
    color: #101920;
    font-size: 1.125rem;
    font-weight: 400;
}

.login button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 12px;
    background: #552583;
    color: #FFF;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    cursor: pointer;
}

.phoneInput {
    background-color: transparent;
}

.inputStyle {
    border: 5px solid #000;
}


/* otp inputs */
.otp-input-container {
    display: flex;
    justify-content: space-between;
}

.otp-input-container input {
    width: 78.54px;
    height: 77.209px;
    border: 1px solid #D0D3D4;
    text-align: center;
    font-size: 1.75rem;
}

/* a tag*/
.otp-bottom-click {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.otp-bottom-click a {
    color: #101920;
    font-family: Helvetica;
    font-size: 1rem;
    font-weight: 300;
    text-decoration-line: underline;
}